.pdf-list li {
    cursor: pointer;
    margin: 5px 0;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
  }
  
  .card {
    width: 100%;
    margin: 5px 0;
    background-color: #f2f3f7;
    border-radius: 0.75em;
    cursor: pointer;
    transition: ease 0.2s;
    border: 1.5px solid #f2f3f7;
  }
  
  .card:hover {
    background-color: #d3ddf1;
    border: 1.5px solid #1677ff;
  }
  
  .card-container {
    padding: 1em;
    display: flex;
    flex-direction: row;
    gap: 0.75em;
  }
  
  .status-ind {
    width: 0.625em;
    height: 0.625em;
    background-color: #ff0000;
    margin: 0.375em 0;
    border-radius: 0.5em;
  }
  
  .text-wrap {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    color: #333;
  }
  
  .time {
    font-size: 0.875em;
    color: #777;
  }
  
  .text-link {
    font-weight: 500;
    text-decoration: none;
    color: black;
  }
  
  .button-wrap {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
  }
  
  .secondary-cta {
    background-color: transparent;
    border: none;
    font-size: 15px;
    font-weight: 400;
    color: #666;
    cursor: pointer;
  }
  
  .primary-cta {
    font-size: 15px;
    background-color: transparent;
    font-weight: 600;
    color: #1677ff;
    border: none;
    border-radius: 1.5em;
    cursor: pointer;
  }
  
  .sortButtons button,
  .navigation button {
    text-decoration: none;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 5px;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #66ff66;
    color: ghostwhite;
  }
  
  .pdf-list-wrapper button span {
    font-size: 25px;
  }